<h1>Stupid Coaching</h1>

  <div class="question-block">
    <div class="question">
      <p><%= @question %></p>
      <p>- You</p>
    </div>
    <div class="answer">
      <p><%= @answer %></p>
      <p>- Your coach</p>
    </div>
  </div>

<%= link_to "Ask new question", ask_path %>
